
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-grow: 1;
        }
        .sidebar {
            width: 250px;
            background: #2c3e50;
            color: white;
            padding: 20px;
            height: 100vh;
            position: fixed;
            z-index: ;
        }
        .sidebar h2 {
            text-align: center;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
        }
        .sidebar ul li {
            margin: 15px 0;
        }
        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px;
            background: #34495e;
            border-radius: 5px;
        }
        .sidebar ul li a:hover {
            background: #1abc9c;
        }
        .content {
            flex-grow: 1;
            padding: 40px;
            margin-left: 270px;
            background: #ecf0f1;
            border-radius: 10px;
            max-width: 900px;
            margin-top: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1,h2 {
            color: #2c3e50;
            font-size: 26px;
        }
        h3{
            color: #2c3e50;

        }
        p {
            font-size: 18px;
            line-height: 1.6;
            color: #555;
        }
        pre {
            background-color: #eee;
            padding: 10px;
            display: block;
            margin: 10px 0;
            border-left: 3px solid #333;
            white-space: pre-wrap;
        }
        .footer {
            text-align: center;
            padding: 15px;
            background: #2c3e50;
            color: white;
            margin-top: auto;
            position: sticky;
        }
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }
            .content {
                margin-left: 0;
                padding: 20px;
            }
        }